[submodule "deps/base_avc/JM"]
	path = deps/base_avc/JM
	url = https://gitlab.com/v-nova-public/JM.git
[submodule "deps/base_hevc/HM"]
	path = deps/base_hevc/HM
	url = https://github.com/eocene317/HM--lcevc.git
[submodule "deps/base_vvc/VTM"]
	path = deps/base_vvc/VTM
	url = https://gitlab.com/v-nova-public/VTM.git
[submodule "deps/base_evc/ETM"]
	path = deps/base_evc/ETM
	url = https://gitlab.com/v-nova-public/ETM.git
[submodule "deps/base_hevc/deps/base_hevc/x265"]
	path = deps/base_hevc/deps/base_hevc/x265
	url = https://bitbucket.org/multicoreware/x265_git.git
