objs_*/
build
/ModelDecoder
/ModelDecoder.exe
/ModelEncoder
/ModelEncoder.exe
/ModelTest
/ModelTest.exe
README.html
README.pdf

*.orig

*.y
*.yuv
*.h264
*.lvc
*.es
perf.data*
*log
log
log.dec
dataDec.txt
log.dat
data.txt
stats.dat
leakybucketparam.cfg
BitstreamEnc.txt
BitstreamDec.txt

/_*

/VisualStudio2017/.vs/
/VisualStudio2017/ModelDecoder/x64/
/VisualStudio2017/ModelEncoder/x64/
/VisualStudio2017/x64/
*.vcxproj.user

CMakeLists.txt.user

test_bench/*.bin
test_bench/*_enc
test_bench/*.txt